.App {
  height: 100vh;
}

.header {
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-top {
  height: 80px;
  padding-top: 30px;
  padding-bottom: 5px;
}

.header-bottom {
  padding-top: 15px;
}

.btn {
  margin-right: 10px;
}

.body {
  background-color: #f0f0f0;
  height: 100vh;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.mb-20 {
  margin-bottom: 15px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.pv-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pv-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

th {
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

td {
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
