.App {
  display: flex;
  padding: 20px 30px 20px;
  justify-content: flex-end;
  height: 93vh;
}

.leftSide {
  width: 100%;
  height: 100%;
  border-right: thick solid #32a1ce;
  margin-right: 10px;
}

.rightSide {
  width: 400px;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.withMax {
  width: 100vh;
}

.mBtn {
  width: 70px;
  height: 30px;
  background-color: #32a1ce;
  margin: 5px;
}
